<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">	
<head lang="en"></head>
<head>
<meta charset="utf-8" />
<title>Titolo di studio</title>
</head>
	
<body>

	<!-- <form action="#" th:action="@{/qualifications}" th:object="${requestBean}" method="get"> -->
		<div>
			<select>
				<option value=NONE>-- Seleziona Titolo di studio -- </option>
				<option th:each="qual : ${qualificationsList}" th:value="${qual.id}" 
						th:text="${qual.qualificDenom}" />
			</select>
			<button type="submit" value="Submit" title="Submit">Invia</button>
		</div>
	<!-- </form> -->
	
</body>
</html>