<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<head lang="en"></head>
<head>

<meta charset="utf-8" />
<title>Anagrafica</title>

</head>

<body>
	
	<form action="#" th:action="@{/registry}" th:object="${infoUser}" th:method="post">
		
		<p>Nome: <input type="text" name="firstname"></p>
		<p>Cognome: <input type="text" name="lastname"></p>
		<p>Sesso: 
			<input type="radio" name="gender" value="uomo" checked> Uomo 
			<input type="radio" name="gender" value="donna"> Donna
		<p>Data di nascita: <input type="text" name="birthDate"></p>
		<p>Luogo di nascita: <input type="text" name="originCity"></p>
		<p>Codice fiscale: <input type="text" name="fiscalCode"></p>
		
		<p>Provincia di residenza: <input type="text" name="province"></p>
		<p>Comune di residenza: <input type="text" name="municipality"></p>
		<p>Via: <input type="text" name="street"></p>
		
		
		<button class="output" type="submit" value="Submit" title="Submit">Avanti</button>
	</form>
	
	

</body>
</html>